{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block main %}
<div class="page-container">
    {% for post in posts %}
    <article class="post-item">
        <header class="author-info">
            <div>
                <div class="author-avatar">
                    {% if post.author.avatar %}
                    <img src="{{post.author.avatar.url}}">
                    {% else %}
                    {{ post.author.username.0 }}
                    {% endif %}
                </div>
        
                <p>{{post.author.full_name}}</p>
            </div>

            <div class="c-buttons">
                <a href="{% url 'edit_post' post.id %}">
                    <button class="custom-button full">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                </a>
                <a href="{% url 'delete_post' post.id %}">
                    <button class="custom-button hollow">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </a>
            </div>
        </header>
    
        <div class="post-main-image">
            <img src="{{ post.image.url }}">
        </div>
        
        <footer class="post-footer">
            <div class="post-info">
                <h3 class="post-title">
                    {{post.title}}
                </h3>
                <p class="post-description">
                    {{ post.description }}
                </p>
            </div>

            <div class="post-buttons">
                <button class="custom-button hollow">Ver Mais</button>
                <button class="custom-button full">Seguir Artista</button>
            </div>
        </footer>
    </article>
    {% endfor %}
</div>

{% endblock %}